.container.text-center.p-3
  %h1 Favourites


.jumbotron
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %th Title
        %th Artist
        %th Album
        %th Duration
        %th{colspan: "3"}

      %tbody
        - @favs.each do |s|
          %tr
            %td= s.title
            %td= s.artist.name
            %td= s.album.title
            %td= s.duration
